@model HMS.ViewModels.LoginViewModel

@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Super Register";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "divPartial"
    };
}
    <div class="container">
        @using (Ajax.BeginForm("SuperRegister", "Login", FormMethod.Post, ajaxOpts , new { @class = "form-signin"  }))
        {
            @Html.AntiForgeryToken()
            
            <div id="divPartial">
                @Html.Partial("_SuperRegister")
            </div>
        }
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
